<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdlJs1El7IV8uI2z-tGHbhMTmiHR7fgJA</string>
	<key>GCM_SENDER_ID</key>
	<string>775487623656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dakaizleme</string>
	<key>PROJECT_ID</key>
	<string>daka-izleme</string>
	<key>STORAGE_BUCKET</key>
	<string>daka-izleme.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775487623656:ios:5e4d39c130010e9c21945d</string>
	<key>DATABASE_URL</key>
	<string>https://daka-izleme-default-rtdb.firebaseio.com</string>
</dict>
</plist>